[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = zeus
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = zeus
[submodule "layers/poky"]
	path = layers/poky
	url = git://git.yoctoproject.org/poky.git
	branch = zeus
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = zeus
[submodule "layers/meta-linaro"]
	path = layers/meta-linaro
	url = https://git.linaro.org/openembedded/meta-linaro.git
	branch = zeus
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = git://git.yoctoproject.org/meta-arm
[submodule "layers/meta-rust-bin"]
	path = layers/meta-rust-bin
	url = https://github.com/rust-embedded/meta-rust-bin
